.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  border-radius:20px
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: orange;
  color: white;
  border-radius: 20px 0 12px 12px
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.choice-text::selection {
    color: white;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

#nxt{
    padding: 15px;
    font-size:2rem;
    border: 0;
    color: white;
    background: orange;
    width: 50%;
    border-radius: 20px 0;
    margin: 20px auto;
    position: relative;
    top: 40px;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
  font-size: 4rem
}

#progressBar {
  width: 20rem;
  height: 1rem;
  border: 0.3rem solid orange;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 0.7rem;
  background-color: orange;
  width: 0%;
}

@media (max-width:520px){
    .container{
        background: white;
        padding-top: 40px;
        overflow: scroll;
        width: 80%
    }

#progressBar {
  width: 10rem;
  height: 1rem;
  border: 0.3rem solid orange;
  margin-top: 1.5rem;
}
    .hud-prefix {
  text-align: center;
  font-size: 1.5rem;
}
    .hud-main-text {
  text-align: center;
        font-size: 3rem;
        font-family: monospace
}
}
